# ==============================================================================
# 1. SENSITIVE DATA & CREDENTIALS (NEVER UPLOAD THESE)
# ==============================================================================
.env
.env.*
prd.env
dev.env
*.env
*.pem
*.key
*.secret
credentials.json

# ==============================================================================
# 2. PYTHON VIRTUAL ENVIRONMENTS & DEPENDENCIES
# ==============================================================================
.venv/
venv/
ENV/
env/
lib/
lib64/
bin/
include/
share/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==============================================================================
# 3. PYTHON CACHE & BYTECODE
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class

# ==============================================================================
# 4. TESTING, COVERAGE, & IDEs
# ==============================================================================
.pytest_cache/
.htmlcov/
htmlcov/
.coverage
.coverage.*
.vscode/
.idea/

# ==============================================================================
# 5. OPERATING SYSTEM JUNK (Windows, macOS, Linux)
# ==============================================================================
.DS_Store
Thumbs.db
desktop.ini
*.log


# ==============================================================================
# 6. Other files
# ==============================================================================

.python-version
uv.lock
pyproject.toml
How-To-GitHub-CLI.md
.gitignore

